@media only screen and (max-width: 900px) {
  .carousel-item-content{
    padding: 20%;
    margin-top: 10%;
  }
  .carousel-item-content h1 {
    font-size: xx-large !important;
  }
  .carousel-item-content .btn-home {
    font-size: larger !important;
  }
  h1{
      font-size: x-large!important;
      top: 5%!important;
  }
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  background-color: #f8f8f8;
  color: #14213d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
/*NAVIGATION BAR*/
nav{
    margin-top: 0%!important;
    padding-top: 0%!important;
}
.navbar {
  width: 100%;
  z-index: 10;
  display: flex;
  width: 100%;
  position: fixed !important;
  background-color: #000000 !important;
  color: white !important;
  font-size: x-large;
}
.nav-item,
.nav-link,
.dropdown-item,
.dropdown-menu {
  color: white !important;
  background-color: #000000 !important;
}
.nav-item,
.nav-link,
.dropdown-item {
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}
.dropdown-menu {
  background-color: #000000 !important;
  padding: 5%;
}
.nav-item:hover,
.nav-link:hover,
.dropdown-item:hover {
  color: #fca311 !important;
  background-color: #000000 !important;
  text-decoration: underline;
}
.dropdown-item {
  padding: 5% !important;
}
.navbar-brand{
    color: #a72c2c!important;
    font-family: 'Audiowide', cursive!important;
    font-size: xx-large!important;
}
.navbar-brand
/*HOME PAGE CAOURSEL BANNER*/
.carousel {
  width: 100% !important;
  margin-bottom: 2.5%;
}
.carousel-item img {
  opacity: 0.8;
  filter: brightness(50%);
}
.carousel-item-content {
  margin-top: 10%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
}
.carousel-item-content h1 {
  font-weight: 500;
  color: white;
}
.hr-home {
  border: solid;
  border-radius: 5px;
  border-width: 5px;
  width: 25%;
  border-color: #fca311 !important;
  color: #fca311 !important;
  background-color: #fca311 !important;
  float: left;
  margin-right: 75%;
  margin-top: 7%;
  margin-bottom: 5%;
}
.btn-home {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fca311;
  color: black;
  padding: 2%;
  font-size: x-large;
}
.btn-home:hover {
  background-color: #b17e2d;
  color: black;
}
/*MAIN ITEMS*/
section {
  margin-top: 2%;
  margin-bottom: 5%;
}
.subsection {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}
hr {
  border: solid;
  color: #a72c2c;
  background-color: #a72c2c;
  border-color: #a72c2c;
  border-width: 2px;
  border-radius: 5px;
  width: 25%;
  margin-bottom: 4%;
}
.small-hr {
  color: #000000;
  background-color: #000000;
  border-color: #000000;
  border-radius: 5px;
  width: 25%;
}
.subsection-mission {
  color: white;
  background-color: #14213d;
}

.subsection-break {
  margin: 2.5%;
}
/*FOOTER*/
footer{
    padding: 2%;
    padding-bottom: 5%!important;
    background-color: #000000;
}
.footer-column {
    text-align: center;
}
.footer-item{
    color: gray!important;
}
.footer-item:hover{
 text-decoration: none!important;
 color: gray!important;
}
footer li{
    margin: 0%!important;
    padding: 0%!important;
}
.big-footer-hr{
    border: solid;
    border-width: 2px;
    margin: 0%!important;
    padding: 0%!important;
    width: 100%;
    border-color: #fca311 !important;
    color: #fca311 !important;
    background-color: #fca311 !important;;
}
.footer-hr{
    float: left;
    width: 25%;
    margin-right: 75%;
}
.footer-list{
    list-style: none!important;
    margin: 0%;
    padding: 0%;
}
/*PAGES CONTENT*/
.banner{
    position: relative;
    overflow:hidden;
    height: 40vh;
    align-items: center;
}
.banner img{
    position: center;
    opacity: 0.8;
    filter: brightness(50%);
    width: auto;

}
.banner h1{
    display: flexbox;
    color: white;
    margin-top: 10%;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
}
.card{
    margin:1%;
}
.card img{
    overflow: hidden!important;
}
.row-team{
    justify-content: right!important;
}
.history-subsection img{
    filter: grayscale(1);
}
iframe{
    height: 25vh!important;
    width: auto;
    overflow: hidden;
}
.social-row{
    margin-top: 2%;
}
i{
   color: #a72c2c;
}
form{
    margin: 2%;
}
.btn-send{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fca311;
    color: black;
    padding: 2%;
  }
  .btn-send:hover {
    background-color: #b17e2d;
    color: black;
  }
  .contact-form{
      text-align: start;
  }
  .subsection-img{
      overflow: hidden!important;
        max-width: 100%;
        height: auto;
  }
  .row{
      display: flex;
      justify-content: center;
  }
  .subsection-testimonies{
    color: white;
    background-color: #14213d;
  }